:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
}
a {
  text-decoration: none !important;
}
.t-antiquewhite {
  color: antiquewhite;
}

.t-dark {
  color: #000 !important;
}

.t-white {
  color: #fff;
}

.btitle {
  font-family: 'Exo', sans-serif;
}

.sectionPadding {
  padding: 8rem 0;
}

.bg-gray {
  background-color: #464547;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #191919;
}

.bg-cian {
  background-color: #771131;
  color: #fff;
}

.bg-green {
  background-color: #b6c275;
}

.bg-whitesmoke {
  background-color: #f5f5f5;
}
.bgFeather{
  background-color: #f5f5f5;
}
/* Font Size*/
.fs-40{
  font-size: 40px;
}


/*Width*/
.w-60{
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.first_item .wrapper-sec {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  flex-direction: column;
  border-bottom: 5px solid #da9e46;
  position: relative;
}

.wrapper-sec img {
  max-width: 200px;
  height: auto;
}

.sisFirstTitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin: 0;
  text-align: center;
  padding: 1rem;
  color: antiquewhite;
}

.scond_item .wrapper-sec {
  padding: 60px;
  display: flex;
  justify-content: start;
  min-height: 450px;
  flex-direction: column;
  border-bottom: 5px solid #da9e46;
  position: relative;
}

.third_item .wrapper-sec {
  padding: 60px;
  display: flex;
  justify-content: start;
  min-height: 450px;
  flex-direction: column;
  border-bottom: 5px solid #da9e46;
}


a.sAncor {
  background: #6b6a6c;
  display: flex;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  left: 60px;
}

/* Product */
.card.box_shadow1:hover img {
  transform: scale(1.1);
}
.card img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.card {
  border: none;
  border-radius: 25px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  padding: 1.5rem;
  border-radius: 20px !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  border: none !important;
}

.box_shadow1 {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.position-relative {
  position: relative !important;
}


.card-body {
  padding: 0.5rem 1rem 1rem 1rem;
}

.card h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #111 !important;
}


/* footer*/
.section--has-background {
 background-color: #72c952;
  color: #fff;  
  position: relative;
  min-height: 600px;
  overflow: hidden;
}

.section--has-background::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 299%;
  top: -75%;
  left: -3%;
  z-index: 2;
  background: url(/_next/static/media/footer-bg.271f28c7.svg) 0 0 no-repeat;
}
.copywrwp {
  padding: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.copywrwp p {
  margin: 0;
}

/* single Product*/
h1.productTitle {
  font-size: 20px;
  color: #dfa151;
}
h2.productType {
  color: #66022c;
  font-weight: 700;
}
h3.packageInstractionTitle {
  font-size: 18px;
}
.packageInstraction ul {
  list-style: none;
  padding-left: 10px;
  line-height: 1.8rem;
}
p.resistance {
  font-weight: 600;
}
.tabilTitle {
  font-weight: 600;
  margin-bottom: 10px;
}
.vtitle{font-weight: 600;}



.op-0{opacity: 0;}